version: "3"
services:
  portainer:
    image: ${DOCKER_IMAGE}
    container_name: "{{ container_name }}"
    # user: root
    privileged: true
    environment:
      - "TZ=Asia/Seoul"
      - VIRTUAL_HOST={{ portainer_domain_name }}
      - VIRTUAL_PORT=9000
{% if use_traefik %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.entrypoints=web,websecure"
      - "traefik.http.routers.portainer.rule=Host(`${trf_domain}`)"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
      - "traefik.http.routers.portainer.service=portainer"
{% endif %}
{% if use_traefik and use_traefik_tls %}
      - "traefik.http.routers.portainer.tls=true"
{% endif %}
    ports:
      - {{ portainer_http }}:8000
      - {{ portainer_https }}:9443
      - {{ portainer_port }}:9000
    volumes:
      - {{ portainer_data }}:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
{% if use_dkr_net %}
    networks:
      - {{ dkr_network }}

networks:
  {{ dkr_network }}:
    external: true
{% endif %}
